[Desktop Entry]
Type=Application
Name=CosmicWallShift
GenericName=Wallpaper Sync
Comment=Automatically switch wallpaper when COSMIC theme changes
Exec=cosmic-wallshift
Icon=io.github.nagyrenato.CosmicWallShift
Categories=Utility;Settings;
Keywords=wallpaper;theme;dark;light;cosmic;background;
StartupNotify=true
